body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}
input {
  padding: 6px;
  margin-right: 8px;
}
button {
  padding: 6px 10px;
}
